<div class="row" ng-controller='OrdersController'>
  <form ng-submit='placeOrder(order)'>
      <label>Customer:</label>
      <select class="browser-default" ng-model='order._buyer'>
        <option value = {{user._id}} ng-repeat='user in users'>{{user.name}}</option>
      </select>
    <label>Products:</label>
    <select class="browser-default" ng-model='order._bought'>
      <option value = {{product._id}} ng-repeat='product in products'>{{product.name}}</option>
    </select>
    <label>numbers to purchase</label>
    <input type="text" name="" ng-model='order.quantity'>
    <button class="btn waves-effect waves-light z-depth-3" type="submit" name="action">Purchase
        <i class="material-icons right">send</i>
    </button>
  </form>

  <!-- displaying the order histories -->
  <table class="highlight bordered">
    <thead>
      <tr>
        <td>Customer Name</td>
        <td>Product</td>
        <td>quantity</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders">
        <td>{{order._buyer.name}}</td>
        <td>{{order._bought.name}}</td>
        <td>{{order.quantity}}</td>
      </tr>
    </tbody>
  </table>
</div>
