<div ng-controller="ProductController" class="row">
    <div class="left_manage_bar col s3">
        <div class="input-field">
          <input type="text" ng-model="search_input"><br>
          <label for="">Search</label>
        </div>
        <p>Add a New Product</p>
        <form ng-model='product' ng-submit="AddProduct(product)">
          <div class="input-field">
            <input id="name" type="text" ng-model="product.name" value="" class="validate">
            <label for="name">Name</label>
          </div>
          <div class="input-field">
            <input id="url" type="text" ng-model="product.url" value="" class="validate">
            <label for="url">Image Url: </label>
          </div>
          <div class="input-field">
            <input id="price" type="text" ng-model="product.price" value="" class="validate">
            <label for="price">Price</label>
          </div>
          <div class="input-field">
            <input id="description" type="text" ng-model="product.description" value="" class="validate">
            <label for="description">Description</label>
          </div>
          <div class="input-field">
            <input id="quantity" type="text" ng-model="product.quantity" value="" class="validate">
            <label for="quantity">Initial Quantity: </label>
          </div>
          <button class="btn waves-effect waves-light z-depth-3" type="submit" name="action">Add Product
              <i class="material-icons right">send</i>
          </button>
        </form>
    </div>
    <div class="col s9">
        <div class="col s4 m4" ng-repeat="product in products |filter:search_input">
            <div class="card">
                <div class="card-image">
                    <img src={{product.url}}>
                </div>
                <div class="card-content">
                    <span class="card-title">{{product.name}}</span>
                    <p>${{product.price}}</p>
                    <p>{{product.description}}</p>
                    <p>({{product.quantity}} left)</p>

                </div>
                <div class="card-action">
                    <a ng-click="removeProduct(product._id)">remove</a>
                </div>
            </div>
        </div>
    </div>
</div>
