<header>
        <nav>
          <div class="nav-wrapper blue">
            <a href="" class="brand-logo center" style="padding-left:0%">Store Inventory Tracking</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li class="col s2"><a href="#!/dashboard">Dashboard</a></li>
              <li class="col s2"><a href="#!/products">Products</a></li>
              <li class="col s2"><a href="#!/orders" id="test">Orders</a></li>
              <li class="col s2"><a href="#!/customers">Customers</a></li>
            </ul>
          </div>
        </nav>
    </header>

<h2>settings</h2>
